html, body {
  height: 100%;
  margin: 0;
}
.body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 375px;
}
header {
  flex: 0 60px;
}
header, footer {
  margin: 0;
  padding: 0;
  width: 100%;
}
input {
  padding-top: 5px;
}

.main {
  flex-grow: 1 ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  height: 40px;
  margin-top: auto;
}
menu {
  flex-grow: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}
.navbar-brand {
  padding-left: 0.3em;
}
input.bg-light::placeholder {
  color: black;
  opacity: 0.5;
}
input.bg-light {
  color: black;
  font-weight: 500;
}
.d-flex {
  flex-direction: column;
}
button.btn{
  font-weight: 600;
}
.name {
  color: rgb(118, 190, 210);
  font-size: 1.5em;
  padding: 0.5em;
}